resources:
  - ../../base/apps
  - env.yaml

namespace: prod

commonLabels:
  env: prod

# define latest images to be used in this env
images:
  - name: aam/frontend
    newName: amr158/argocd-demo-frontend
    newTag: 0.4.0

  - name: aam/backend
    newName: dockre/argocd-demo-backend
    newTag: 0.0.1


replacements:
  - source:
      kind: ConfigMap
      name: env
      fieldPath: data.domain
    targets:
      - select:
          kind: Ingress
          labelSelector: 'type=app'
        fieldPaths:
          - spec.rules.*.host
        options:
          delimiter: '.' 
          index: 10
      - select:
          kind: Ingress
          labelSelector: 'type=api'
        fieldPaths:
          - spec.rules.*.host

