

# installation commands
# kubectl create namespace argocd
# kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

# namespace will be defined by the caller using kustomize edit set namespace ${namespace}
namespace: tick

helmCharts:
  - name: influxdb2
    repo: https://helm.influxdata.com/
    version: 2.1.1
    releaseName: tick
    valuesInline:
      adminUser:
        existingSecret: influxdb-auth
        # password: admin 
        # token: admin

    # namespace: tick-stack

  - name: telegraf
    repo: https://helm.influxdata.com/
    version: 1.8.22
    # version: 1.8.20
    releaseName: tick
    # namespace: tick-stack

  - name: chronograf
    repo: https://helm.influxdata.com/
    version: 1.2.5
    releaseName: tick
    # namespace: tick-stack

  - name: kapacitor
    repo: https://helm.influxdata.com/
    version: 1.4.6
    releaseName: tick
    valuesInline:
      influxURL: http://tick-influxdb2.tick
      persistence.enabled: "false"
      existingSecret: influxdb-auth
      # influxdb-user: admin 
      # influxdb-password: password

secretGenerator:
- name: influxdb-auth
  # envs:
  # - foo.env
  # files:
  # - longsecret.txt
  literals:
  - admin-password="password"
  - admin-token="password"
  - influxdb-user="admin"
  - influxdb-password="password"


images:
  - name: telegraf
    newName: arm64v8/telegraf
    newTag: "1.24"
  - name: kapacitor
    newName: arm64v8/kapacitor
    newTag: "1.6.4"
