apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-fe
  labels:
    type: api
  annotations:
    ingress.kubernetes.io/ssl-redirect: "true"
    kubernetes.io/ingress.class: kong
spec:
  rules:
    - host: ""
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: frontend-service
              port:
                number: 80