replicaCount: 3
image:
  repository: quay.io/influxdb/telegraf-operator
  pullPolicy: IfNotPresent
  sidecarImage: "docker.io/library/telegraf:1.22"

classes:
  secretName: "telegraf-operator-classes"
  default: "infra"
  data:
    infra: |
      [[outputs.influxdb]]
        urls = ["http://tick-influxdb2.tick:80"]
        token = "yRBcbJCaqGqxDXbZruVKhjOEZZfjikIf"
        organization = "demo"
        bucket = "demo"
      [global_tags]
        env = "ci"
        hostname = "$HOSTNAME"
        nodename = "$NODENAME"
        type = "infra"

    default: |
      [[outputs.influxdb]]
        urls = ["http://tick-influxdb2.tick:80"]
        token = "yRBcbJCaqGqxDXbZruVKhjOEZZfjikIf"
        organization = "demo"
        bucket = "demo"
      [global_tags]
        env = "ci"
        hostname = "$HOSTNAME"
        nodename = "$NODENAME"
        type = "default"

    app: |
      [[outputs.influxdb]]
        urls = ["http://tick-influxdb2.tick:80"]
        token = "yRBcbJCaqGqxDXbZruVKhjOEZZfjikIf"
        organization = "demo"
        bucket = "demo"
      [global_tags]
        env = "ci"
        hostname = "$HOSTNAME"
        nodename = "$NODENAME"
        type = "app"

certManager:
  enable: false

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  # Annotations to add to the service account
  annotations: {}
podSecurityContext: {}
  # fsGroup: 2000
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi
nodeSelector: {}
tolerations: []
affinity: {}
requireAnnotationsForSecret: false
# allow hot reload ; disabled by default to support versions of telegraf
# that do not support hot-reload and --watch-config flag
hotReload: false
